@font-face {
  font-family: 'NotoSansThai';
  font-style: normal;
  font-weight: normal;
  src: local('NotoSansThai Regular'),
    url(@/assets/fonts/NotoSansThai-Regular.ttf) format('opentype')
}

[class*='text-'],
[class^='swal2'],
body {
  font-family: 'NotoSansThai', sans-serif !important;
}

.v-table :deep(th) {
  background-color: #1a237e;
  color: white; /* เพิ่มสีขาวสำหรับตัวอักษรใน header */
  cursor: pointer;
  font-weight: bold;
  white-space: nowrap;
}

.v-table :deep(table > thead) {
  background-color: #ffffff;
  cursor: pointer;
  font-weight: bold;
}

.v-table :deep(tr:nth-child(even)) {
  background-color: #f1f1f1e5;
}
